In [1]:
# declare variable
# variable are the containers we used to store any data type 
X=10

In [2]:
# print the variable
print(X)

10

In [5]:
# check the data type of the variable
type(X)

int

In [57]:
# create an integer data type
int_1=20

# show the data type 
type(int_1)
print('datatype of the variable',type(int_1))

datatype of the variable <class 'int'>

In [61]:
# create an float datatype
float_1=20.38

#show the data type
type(float_1)
print('datatype of the variable',type(float_1))

datatype of the variable <class 'float'>

In [63]:
# create an string datatype
String_1="gopal"

#show the data type
type(String_1)
print('datatype of the variable',type(String_1))

datatype of the variable <class 'str'>

In [72]:
# create an List
List_1 =[10,20,30,40,50]
List_2 =[10,20,10,30,10.40]
List_3 =["Gopal","Nirmal","pooja"]
print('datatype of the variable',type(List_1))
print('datatype of the variable',type(List_2))
print('datatype of the variable',type(List_3))

datatype of the variable <class 'list'>
datatype of the variable <class 'list'>
datatype of the variable <class 'list'>

In [74]:
# create an Tuple
Tuple_1 =(10,20,30,40,50)
Tuple_2 =(10,20,10,30,10.40)
Tuple_3 =("Gopal","Nirmal","pooja")
print('datatype of the variable',type(Tuple_1))
print('datatype of the variable',type(Tuple_2))
print('datatype of the variable',type(Tuple_3))

datatype of the variable <class 'tuple'>
datatype of the variable <class 'tuple'>
datatype of the variable <class 'tuple'>

In [76]:
# create an Set 
set_1 ={10,20,30,40,50}
set_2 ={10,20,10,30,10.40}
set_3 ={"Gopal","Nirmal","pooja"}
print('datatype of the variable',type(set_1))
print('datatype of the variable',type(set_2))
print('datatype of the variable',type(set_3))

datatype of the variable <class 'set'>
datatype of the variable <class 'set'>
datatype of the variable <class 'set'>

In [78]:
# create an boolean datatype
Boolean_1=True
Boolean_2=False

print('datatype of the variable',type(Boolean_1))

True

In [84]:
# create an dictionary
dictionary_1={
    List_1:[1,2,3,4,5,6]}

#show the data type
print('datatype of the variable',type(List_1))

datatype of the variable <class 'dict'>

In [103]:
# create an dictionary
dictionary_1={
    "List_1":"[1,2,3,4,5,6]"}

#show the data type
print(dictionary_1["List_1"])

[1,2,3,4,5,6]

# Basic operations

In [114]:
# Task1 type casting
Float_2 = 45.96

# show the datatype 

print('datatype of the variable',type(Float_2))

#type casting
int_2=int(Float_2)

print('datatype of the variable',type(int_2))

datatype of the variable <class 'float'>
datatype of the variable <class 'int'>

In [116]:
# Task2 type casting
int_2 = 45

# show the datatype 

print('datatype of the variable',type(int_2))

#type casting
Float_2=float(int_2)

print('datatype of the variable',type(Float_2))

datatype of the variable <class 'int'>
datatype of the variable <class 'float'>

In [5]:
#task 3
Float_2 = 45.123456789

#round the float value by using round()

Rounded_values = round(Float_2,3)
print("Round value",Rounded_values)

Round value 45.123

# arithematic operation on data

In [15]:
#Addition operation
# declare variable
a=10
b=20

#perform   the sum 
sum_1=a+b
print("Addition of variables are:",sum_1)

Addition of variables are: 30

In [21]:
#Subtraction operation
# declare variable
a=100.
b=20

#perform  the sum 
sum_1=a-b
print("Subtraction of variables are:",sum_1)

Subtraction of variables are: -10

In [19]:
#Multiplication operation
# declare variable
a=10
b=20

#perform  the sum 
sum_1=a*b
print("Multiplication of variables are:",sum_1)

Multiplication of variables are: 200

In [17]:
#Division operation
# declare variable
a=10
b=20

#perform  the sum 
sum_1=a/b
print("Division of variables are:",sum_1)

Division of variables are: 0.5

## user defined function

In [32]:
# declare the function name as sumation who can perform the addition in the number
def submation():
    x=10
    y=20
    submation=x+y
    return submation


# call the function 
submation()

30

In [34]:
# declare the function name as sumation 
# who can perform the Subtraction in the number
def submation(x,y):
    
    submation=x-y
    return submation


# call the function 
submation(3,4)

-1

In [49]:
# declare the function name as sumation 
# who can perform the Subtraction in the number
def submation():
    x=int(input("enter a first number :"))
    y=int(input("enter a Second number :"))
    submation=x*y
    return submation


# call the function 
submation()

enter a first number : 23
enter a Second number : 11

253